<!DOCTYPE html lang = "en">
<head>

</head>
<body>

    <div class="user-input-form bg-light">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="name">GitHub Location</label>
						<input type="text" class="form-control" id="git_link" placeholder="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="name">User name</label>
						<input type="text" class="form-control" id="git_user_name" placeholder="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="name">Data Location</label>
						<input type="text" class="form-control" id="name" placeholder="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="message">Train Script</label>
						<textarea class="form-control" id="train_script" rows="3"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="message">Test Script</label>
						<textarea class="form-control" id="test_script" rows="3"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" class="form-control" id="email" placeholder="Enter your email">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</div>
	</div>

</body>