<!DOCTYPE html>

<html>

<head>

    <title>ML CI Introduction Greeting Experiment</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>

<body>

    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <h1>ML CI Introduction Greeting Experiment</h1>

            </div>

        </div>

    </div>

    <div class="container" id = "greeting-experiment">

        <div>
            
            Hello {{ name }}!

        </div>

    </div>

</body>

</html>